header {
    display: flex;
    align-items: center;
    padding-right: 20px; 
    padding-left: 20px;
    justify-content: space-between;
    font-family: 'Cinzel', serif;
    background-color: rgb(80, 80, 80);
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-weight: 1500;
}

h1{
    margin-left: 5px;
    font-size: clamp(20px, 2.5vw, 28px);
}


nav{
    margin-right: 5px;
    margin-left: 5px;

}



header img{
    width: 200px;
    height: auto
}
body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Olympos.jpg/1200px-Olympos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    margin: 0;
    font-family: 'Cinzel', 'Quicksand', sans-serif
}

    .antiken {
        margin: 20px 30px 50px 30px;
        align-items: center;
        max-width: 750px;
        background-color: gray;
        border-radius: 30px;
        height: 950px;
        min-width: 320px;
        display: flex;
        flex-direction: column;
    }

    .antiken .splide {
        height: 300px;
    }

    .antiken .splide__slide img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 30px;
    }

    .antiken article {
        flex: 1;
        background-color: white;
        border-radius: 35px;
        margin: 25px;
        padding: 15px;
    }

    .vinter {
    margin: 20px 30px 50px 30px;
    align-items: center;
    max-width: 750px;
    background-color: gray;
    border-radius: 30px;
    height: 950px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}

.vinter .splide {
    height: 300px;
}

.vinter .splide__slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
}

.vinter article {
    flex: 1;
    background-color: white;
    border-radius: 35px;
    margin: 25px;
    padding: 15px;
}

.modern {
    margin: 20px 30px 50px 30px;
    margin-bottom: 20px;
    align-items: center;
    max-width: 750px;
    background-color: gray;
    border-radius: 30px;
    height: 950px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}

.modern .splide {
    height: 300px;
}

.modern .splide__slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
}

.modern article {
    flex: 1;
    background-color: white;
    border-radius: 35px;
    margin: 25px;
    padding: 15px;
}

article{
    height: 300px;
    background-color: white;
    border-radius: 35px;
    margin: 25px;
    padding-bottom: 15px;
    border-bottom: 15px;
    align-items: center;
    
}

.forsta{
    margin: 5px;
    padding: 8px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 30px;
    color: black;
}

p{
    padding: 5px;
    margin: 5px;
    font-size: clamp(14px, 1.2vw, 16px);
    color: black;
    font-weight: 800;
    color: rgb(44, 44, 44);
}

a{
    text-decoration:none;
    color: white;
    padding: 4px;
    border-radius: 15px;
    border: 1px solid white;
    font-weight: 600;
    margin: 5px;
}

a:hover{
    font-size: larger;
    transition: 0.5s;
}

.ett{
    margin: 5px;
    margin-top: 20px;
}

.tre{
    margin: 5px;
    margin-top: 70px;
}

.tva{
    border: 1px solid black;
    color: black;
}

.sektioner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 24px;
    padding: 16px;
}

.splide {
    aspect-ratio: 16 / 9;
}

@media (max-width: 600px) {
    .sektioner {
        gap: 16px;
        padding: 12px;
    }
}